/*
 Theme Name:   Capoeira Jr.
 Theme URI:    https://themes.bavotasan.com/2014/arcade/
 Description:  An awesome Capoeira child theme based on Arcade Basic theme
 Author:       Lucas Lima
 Author URI:   http://www.lucaslima.blog.br
 Template:     arcade-basic
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  capoeira-jr-child
*/

@import url("../arcade-basic/style.css");


/**
 * Changes in Header
 *
 * @since 1.0
 */

/*Green border on the top header*/
#site-meta {
    border-bottom: 3px solid #02843D;
    }
/*Changes on the button 'see more'*/ 
#more-site {
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	font-family: ubuntu;
    }
#more-site:hover {
    background: none repeat scroll 0% 0% rgb(2,132,61);
    border-color: #FBDF3E;
    color: #FFF;
}
.btn-lg {
border-radius: 10px;
}
/*New font style for site title*/    
.basic #site-title a {
    font-family: ubuntu,cursive;
    font-weight: bold;
}

#site-description {
    font-size: 30px;
    font-family: ubuntu;
    font-weight: bold;
}	


/**
 * Changes in Footer
 *
 * @since 1.0
 */

#footer {
	border-top: 3px solid #02843D;
	background: none repeat scroll 0% 0% #2A005F;
	color: #FFFCFC;
	font-family: ubuntu,cursive;
    }
 /*Changes on the Icon of the Footer*/
 #footer .fa-male {
	transform: rotate(-10deg);
	font-size: 23px;
	position: absolute;
	left: -28px;
	top: -2px;
}
/*Changes on the link at Footer*/
#footer .copyright a {
    color: #FFFCFC;
}
/*Footer Logo stylesheet*/
.image_footer #footer_logo {
	width: 50px;
	height: 50px;
	float: left;
	position: absolute;
	left: -55px;
	top: -15px;
}


/**
 * Changes in Menu
 *
 * @since 1.0
 */

/*Changes color of the Menu*/
.navbar-inverse {
	background: none repeat scroll 0% 0% #FFC815;
	border-bottom: 3px solid #02843D;
}
/*Changes color of the Menu on pages*/
.navbar-inverse.black {
    background: none repeat scroll 0% 0% #FFC815;
}
/*Change color of the links in Menu*/
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
	text-shadow: 1px 1px 1px #2A005F;
	font-family: ubuntu,cursive;
	font-size: 15px;
	font-weight: bold;
}
/*Changes color of the selected menu item*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #02843D;
    text-shadow: none;
}
/*Changes color of the menu item on "hover" */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: #02843D;
    text-shadow: none;
}
/*Changes on Dropdown Menu*/
.dropdown-menu {
    background: none repeat scroll 0% 0% #02843D;
}
/*Color when dropdown menu selected*/
.dropdown-menu > li > a {
    color: white;
}
/*Color when dropdown menu selected*/
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
background-color: #FFFFFF;
color: rgb(2,132,61);
}
/*Changes color of the collapse button*/
.navbar-inverse .navbar-toggle {
border-color: #02843D;
border-width: 2px;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: #02843D;
}

/*Changes color of the collapsed dropdown menu*/
.navbar-nav .open .dropdown-menu {
background-color: #02843D;
}

/*Removes the color of the border in the collapsed menu*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: rgba(2, 132, 61, 0);
}

/*Changes color of selected option into the dorpdown collapsed menu*/
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
color: #02843D;
background-color: #FFFFFF;
}

/*Changes color of the links inside the dropdown collaped menu*/
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
color: #FFFFFF;
}

/*Removes margin from the collapsed menu*/
.navbar-nav {
margin: 0px -15px;
}

/*Changes color of the small arrow of the dropdown menu to white*/
.navbar-inverse .navbar-nav > .dropdown > a .caret {
border-top-color: #FFFFFF;
border-bottom-color: #FFFFFF;
}

/*Changes color of the main link on the dropsdown menu*/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
color: #ffffff;
background-color: #02843D;
}

/*Included Social Icons on Menu*/
header nav .facebook {
    background: url("library/images/icons-facebook.png") no-repeat scroll 0% 0% transparent;
    text-indent: -9999px;
    white-space: nowrap;
    height: 32px;
    width: 32px;
}

/**
 * Changes in Pages
 *
 * @since 1.0
 */

/*Font style for Titles h1*/
.basic h1{
	font-family: ubuntu,Raleway,sans-serif;
	font-weight: bold;
}

/*Font size for titles*/
.basic .entry-title {
    font-size: 42px;
}

/*Font size for title h3*/
.basic h3{
	font-family: ubuntu, Raleway,sans-serif;
}

/*Article style*/
article {
	border-bottom: 1.5px solid #BB7D57;
}


/**
 * Changes in Home Widget
 *
 * @since 1.0
 */
/*Changing images inside the Home widget*/
.home-widget img {
border: 3px solid #BCBCBC;
border-radius: 50%;
padding: 3px;
margin: 10px 0px;
height: 230px;
width: 230px;
}
/*Change in padding for home-widgets*/
#home-page-widgets {
padding: 40px 0 20px;
}

/**
 * Changes in Jumbotron
 *
 * @since 1.0
 */
 
/*Changing color in borders inside Jumbotron*/
.home-jumbotron:before {
  border-top: 1.5px solid #BB7D57;
}
.home-jumbotron:after {
  border-bottom: 1.5px solid #BB7D57;
}

/**
 * Changes in Jumbotron
 *
 * @since 1.0
 */

/*Changing border color of the archive description*/
#archive-header {
	border: 1px solid #BB7D57;
}

/**
 * Changes in Payment Options
 *
 * @since 1.0
 */
.payment-box{
width: 35%;
}
#image-button{
padding: 0px 0px 0px 100px;
}
